@import './variables.scss';

.notfound-container {
    width: 100%;
    // background-color: blue;
    height: 80vh;
    color: $main-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .notfound-buttons {
        width: 90%;
        display: flex;
        // position: absolute;
        margin-top: 30px;
        margin-left: 5%;
        justify-content: space-between;
    }

    .notfound-logo {
        width: 70%;
        margin-left: 15%;
        padding: 0 5px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 5px;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);

        img {
            width: 100%;
            grid-column-start: 2;
            grid-column-end: 12;
            fill: $main-color;
        }
    }

    p {
        text-align: center;
        width: 80%;
        margin-left: 10%;
        margin-top: 30px;
        font-size: 1.2em;
        font-family: Doyle Black, Arial, Helvetica, sans-serif;

    }
}