@import './variables.scss';

.talent-container {
    background-color: $talent-color;
    width: 100%;
    color: $main-color;
    overflow-x: hidden;

    .landing {
        width: 100%;
        min-height: 100vh;
    }

    .language {
        position: fixed;
        z-index: 10;
        right: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 700px) {
    .landing {
        display: flex;
        flex-direction: column;
        min-height: auto !important;
    }
}